[project]
	description = My standard libs
[access "refs/*"]
	owner = group user/Johan (Jopie64)
[access "refs/for/refs/*"]
	read = group user/Johan (Jopie64)
	push = group user/Johan (Jopie64)
	label-Code-Review = -2..+2 group user/Johan (Jopie64)
	label-Verified = -1..+1 group user/Johan (Jopie64)
	rebase = group user/Johan (Jopie64)
	removeReviewer = group user/Johan (Jopie64)
	submit = group user/Johan (Jopie64)
[access "refs/heads/*"]
	read = group user/Johan (Jopie64)
	create = group user/Johan (Jopie64)
	push = +force group user/Johan (Jopie64)
	pushMerge = group user/Johan (Jopie64)
[access "refs/tags/*"]
	push = +force group user/Johan (Jopie64)
	pushTag = group user/Johan (Jopie64)
	pushSignedTag = group user/Johan (Jopie64)
